@import "tailwindcss";
@import "@fontsource/space-mono";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/crimson";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import "@fontsource/fusion-pixel-10px-monospaced-sc";
@import "@fontsource/fusion-pixel-12px-monospaced-sc";

[data-theme="crimson"] {
    --base-font-family: "Fusion Pixel 10px Monospaced SC", serif;
    --heading-font-family: "Fusion Pixel 12px Monospaced SC", serif;
    --anchor-font-family: "inherit";
    --color-surface-100: var(--color-tertiary-50);
}

[data-theme="crimson"] select {
    border-color: var(--color-surface-300);
    padding: 10px;
}

[data-theme="crimson"][data-mode="light"] .exoheader {
    border: 0.5px solid;
    border-color: var(--color-surface-200);
}

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

dialog,
dialog::backdrop {
    --anim-duration: 250ms;
    transition:
        display var(--anim-duration) allow-discrete,
        overlay var(--anim-duration) allow-discrete,
        opacity var(--anim-duration);
    opacity: 0;
}
/* Animate In */
dialog[open],
dialog[open]::backdrop {
    opacity: 1;
}
/* Animate Out */
@starting-style {
    dialog[open],
    dialog[open]::backdrop {
        opacity: 0;
    }
}
